<nav class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="/assets/images/navbar/logo.png">
    </a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">ABOUT LIFE BASE</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            COURSES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/Child">Child</a>
            <a class="dropdown-item" routerLink="/Son">Son</a>
            <a class="dropdown-item" routerLink="/Husband">Husband</a>
            <a class="dropdown-item" routerLink="/Father">Father</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">CONTACT US</a>
        </li>

      </ul>
      <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
        <li class="nav-item" *ngIf="!signedIn">
          <a class="nav-link" data-toggle="modal" data-target="#login">LOGIN</a>
        </li>
        <li class="nav-item" *ngIf="!signedIn">
          <a class="nav-link" data-toggle="modal" data-target="#register" href="" style="background-color: #2a2a2a;color: #fff;border-color: #2a2a2a">REGISTER</a>
        </li>
        <li class="nav-item" *ngIf="signedIn">
          <a class="nav-link" (click)="logout()" style="background-color: #2a2a2a;color: #fff;border-color: #2a2a2a">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="section">
  <div class="container section-1">
    <iframe *ngIf="payed" id="playVideo" width="100%" height="350" src="https://www.youtube.com/embed/ACD8b7eB5OQ?autoplay=1" frameborder="0"></iframe>
    <h1 *ngIf="!payed">You have to subscribe to course to view video!</h1>
    <h3>SON</h3>
    <p>DR. MOLINA GOES DEEPER INTO THE
      <br> PRINCIPLES OF SONSHIP</p>
    <div class="all-full" *ngIf="!payed">
      <a href="" data-toggle="modal" data-target="#Checkout-Form">All Full Course Access</a>
    </div>
  </div>
</div>
<div id="section1" class="container-fluid">
  <div class="container">

    <div class="row sec1">
      <div class="col-12 col-md-4 images-icon">
        <img src="/assets/images/son/image.png">
        <br>
        <div class="text">
          <h3>DISCOVER:</h3>
          <p>The truth about sonship and its ability to make
            <br> spiritually mature.</p>
        </div>
      </div>
      <div class="col-12 col-md-4 images-icon">
        <img src="/assets/images/son/image1.png">
        <br>
        <div class="text">
          <h3>UNDERSTAND: </h3>
          <p>What God says about Sons and place in his
            <br> kingdom.</p>
        </div>
      </div>

      <div class="col-12 col-md-4 images-icon">
        <img src="/assets/images/son/image2.png">
        <br>
        <div class="text">
          <h3>WALK:</h3>
          <p>In the reality and posture of a true Son. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section2" class="container-fluid">
  <div class="container">
    <div class="layer">

      <div class="top-left">
        <h3>Dr. Joaquin G Molina</h3>
        <br>
        <p>The bible teacher that God has always reserved the inheri-
          <br> tance for sons. In today's day and age,the concept of Son-
          <br> ship has been-at best,either grossly marginalized, or is just
          <br> non existent. In this course Dr. Molina goes deeper into
          <br> the principles of sonship and their lasting impact on a
          <br> Man's spiritual progression.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="section4" class="container-fluid">
  <div class="container">
    <div class="course-all">
      <div class="course1">
        <div class="row">
          <div class="col-2 col-md-2">
            <h3>01</h3>
          </div>
          <div class="col-10 col-md-10">
            <h4>What does Family mean to me</h4>
          </div>
        </div>
      </div>
      <div class="course1">
        <div class="row">
          <div class="col-2 col-md-2">
            <h3>02</h3>
          </div>
          <div class="col-10 col-md-10">
            <h4>What is a father</h4>
          </div>
        </div>

      </div>
      <div class="course1">
        <div class="row">
          <div class="col-2 col-md-2">
            <h3>03</h3>
          </div>
          <div class="col-10 col-md-10">
            <h4>How do I determine what I should be when I grow up</h4>
          </div>
        </div>

      </div>

      <div id="panel1">

        <div class="course1">
          <div class="row">
            <div class="col-2 col-md-2">
              <h3>04</h3>
            </div>
            <div class="col-10 col-md-10">
              <h4>What does Honor and respect mean</h4>
            </div>
          </div>

        </div>

        <div class="course1">
          <div class="row">
            <div class="col-2 col-md-2">
              <h3>05</h3>
            </div>
            <div class="col-10 col-md-10">
              <h4>How do I build a closer relationship to God</h4>
            </div>
          </div>

        </div>
        <div class="course1">
          <div class="row">
            <div class="col-2 col-md-2">
              <h3>06</h3>
            </div>
            <div class="col-10 col-md-10">
              <h4>How do I become more responsible</h4>
            </div>
          </div>

        </div>
        <div class="course1">
          <div class="row">
            <div class="col-2 col-md-2">
              <h3>07</h3>
            </div>
            <div class="col-10 col-md-10">
              <h4>What is correction and why do I need it</h4>
            </div>
          </div>

        </div>
        <div class="course1">
          <div class="row">
            <div class="col-2 col-md-2">
              <h3>08</h3>
            </div>
            <div class="col-10 col-md-10">
              <h4>Who am I</h4>
            </div>
          </div>

        </div>
      </div>
      <div class="course2">
        <div id="show3">SHOW ALL 9 LESSONS</div>
        <div class="row">
          <div class="col-2 col-md-2">
            <h3>09</h3>
          </div>
          <div class="col-10 col-md-10">
            <h4>What is the purpose of my life</h4>
          </div>
        </div>

      </div>

      <div id="show1">LESS</div>
    </div>
    <br>
  </div>
</div>
<div id="section3" class="container-fluid">
  <h3>Son</h3>
  <div class="row sec3">

    <div class="col-5 col-md-5 ">
      <img src="/assets/images/3/left.jpg" width="100%">
    </div>
    <div class="col-2 col-md-2 sec3-middle">
      <img src="/assets/images/husband/image7.png" title="Life Bese">
    </div>
    <div class="col-5 col-md-5">
      <img src="/assets/images/3/left.jpg" width="100%">
    </div>

  </div>
  <div class="container grid">
    <div class="row grid-image">
      <div class="col-12 col-md-6">
        <img src="/assets/images/husband/image9.jpg" width="100%">
        <div class="grid-image-text">
          <img src="/assets/images/husband/image15.png">
          <p>What does Family
            <br>mean to me</p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <img src="/assets/images/husband/image9.jpg" width="100%">
        <div class="grid-image-text">
          <img src="/assets/images/husband/image15.png">
          <p>What is a father</p>
        </div>
      </div>

    </div>


    <div id="panel">
      <div class="row grid-image">
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>How do I determine
              <br> what I should be
              <br> when I grow up</p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>What does Honor
              <br> and respect mean</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>How do I build a
              <br> closer relationship
              <br> to God</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>How do I become
              <br> more responsible</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>What is correction
              <br>and why do I need it</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>Who am I</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="/assets/images/husband/image9.jpg" width="100%">
          <div class="grid-image-text">
            <img src="/assets/images/husband/image15.png">
            <p>What is the purpose
              <br> of my life</p>
          </div>
        </div>


      </div>
    </div>
    <div id="flip">SHOW ALL 9 LESSONS</div>
    <br>
    <br>
    <div id="show2">LESS</div>
    <br>
    <br>
  </div>
</div>


<div id="footer" class="container-fluid">
  <div class="container">
    <div class="footer-contact">
      <img src="/assets/images/footer/logo2.png" alt="logo" title="Life Base">
      <p>99 99999 99 99</p>
      <ul>
        <li>
          <a href=""> HOME&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
          <a href=""> ABOUT LIFE BASE&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
          <a href=""> COURSES&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li>
          <a href=""> CONTACT US</a>
        </li>


      </ul>
    </div>
  </div>
</div>
<div id="footer1" class="container-fluid">
  <div class="container">
    <div class="row p">
      <div class="col-12 col-md-12 col-lg-6">
        <p>LIFE BASE©COPYRIGHT 2016</p>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="social">
          <a href="" class="fa fa-facebook"></a>
          <a href="" class="fa fa-twitter"></a>
          <a href="" class="fa fa-envelope-o"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login">
  <div class="modal-dialog">

    <div class="modal-content login">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>LOGIN</h1>
      <br>
      <form #lf="ngForm">
        <div class="form-group">
          <a href="#" class="fb btn">
            <i class="fa fa-facebook-official"></i>
            <h3>Continue with Facebook</h3>
          </a>
          <div class="or">
            <h2>
              <span>OR</span>
            </h2>

          </div>
          <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="user.em" name="em" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="user.pw" name="pw" placeholder="Password" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pass">
            <h3>Forgot your password?</h3>
            <br>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn" [disabled]="!lf.valid" (click)="login()">
              <h5>LOGIN</h5>
            </button>
          </div>
        </div>
        <hr style="background-color: #3b3b3b;margin-top: 51px;">
        <hr style="background-color: #3b3b3b;">
        <div class="account">
          <h4>Need an account?
            <span>Create an account.</span>
          </h4>
        </div>
      </form>


    </div>
  </div>
</div>



<div class="modal fade" id="register">
  <div class="modal-dialog">

    <div class="modal-content login">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h1>REGISTER</h1>
      <br>

      <form (ngSubmit)="register()" #rf="ngForm">

        <div class="form-group">
          <hr style="background-color: #3b3b3b;">
          <div class="form-group">
            <input type="fn" class="form-control" [(ngModel)]="user.fn" name="fn" placeholder="First name" required>
          </div>
          <div class="form-group">
            <input type="ln" class="form-control" [(ngModel)]="user.ln" name="ln" placeholder="Last name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="user.em" name="em" placeholder="Email address" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="user.pw" name="pw" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn" [disabled]="!rf.valid">REGISTER</button>
          </div>
        </div>
        <hr style="background-color: #3b3b3b;margin-top: 51px;">
        <hr style="background-color: #3b3b3b;">
        <div class="account">
          <h4>Need an account?
            <span>Create an account.</span>
          </h4>
        </div>
      </form>


    </div>
  </div>
</div>