<nav class="navbar navbar-light navbar-expand-md bg-light">
    <div class="container">
    <a href="/" class="navbar-brand"><img src="/assets/images/navbar/logo.png"></a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">ABOUT LIFE BASE</a>
            </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         COURSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Child">Child</a>
          <a class="dropdown-item" routerLink="/Son">Son</a>
          <a class="dropdown-item" routerLink="/Husband">Husband</a>
          <a class="dropdown-item" routerLink="/Father">Father</a>
          
        </div>
      </li>
            <li class="nav-item">
                <a class="nav-link"  href="#footer" >CONTACT US</a> 
            </li>
           
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item">
                <a class="nav-link"  data-toggle="modal" data-target="#login">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#register" style="background-color: #2a2a2a;color: #fff;border-color: #2a2a2a">REGISTER</a>
            </li>

        </ul>
    </div>
</div>
</nav>
<div id="section">
    <div class="container section-1">
        <div class="video">
          <div class="row">
            <div class="col-md-5">
          </div>
           <div class="col-md-2">
              <a href="#"  data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/_aZON_EOFIk
"><img src="/assets/images/child/1 pic/PLAY.png"></a>
          </div>
        </div>
    </div>
            
            <h3>CHILD</h3>
            <p>DR. MOLINA GOES DEEPER INTO THE<br>
            PRINCIPLES OF CHILDSHIP</p>
            <div class="all-full">
            <a href="" data-toggle="modal" data-target="#Checkout-Form">All Full Course Access</a>
 </div>
</div>
</div>
<div id="section1" class="container-fluid">
    <div class="container">

        <div class="row sec1">
            <div class="col-12 col-md-4 images-icon">

                <img src="/assets/images/child/lesons/1/image1.png"><br>
                <div class="text">
                <h3>LEARN:</h3>
                <p>Lean the answers to why God made you <br>discover your purpose</p>

                </div>
    
            </div>
            

            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/child/lesons/1/image2.png"><br>
                <div class="text">
                <h3>HEAR:</h3>
                <p>From Dr.Joaquin Molina as he exlores <br>childhood and its lasting impact on manhood.</p>
                </div>
         
            </div>
            


            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/child/lesons/1/image3.png"><br>
                <div class="text">
                <h3>EXPERIENCE:</h3>
                <p>Time tested truths and how Dr.Molina navigated<br>the waters of his own childhood and how he<br>impacted his children during theirs.</p>
                </div>
            </div>
        </div>
    </div>
       
</div>

<div id="section2" class="container-fluid">
    <div class="container">
    <div class="layer">
    
    <div class="top-left">
        <h3>Dr. Joaquin G Molina</h3><br>
        <p>The bible teacher that God has always reserved the inheri-<br>
           tance for sons. In today's day and age,the concept of Son-<br>
           ship has been-at best,either grossly marginalized, or is just<br>
           non existent. In this course Dr. Molina goes deeper into<br>
           the principles of sonship and their lasting impact on a <br>
           Man's spiritual progression.
        </p>
    </div>
    </div>
    </div>
</div>
<div id="section4" class="container-fluid">
    <div class="container">
        <div class="course-all" >
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>01</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>Where do I come from</h4>
                    </div>
                </div>
 </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>02</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>Why Do I have parents</h4>
                    </div>
                </div>
 
            </div><div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>03</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>Why Should I listed to my parents</h4>
                    </div>
                </div>
 
            </div>
   
               <div id="panel1">
               
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>04</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What should I watch on TV</h4>
                    </div>
                </div>
 
            </div>

            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>05</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>Why is school important</h4>
                    </div>
                </div>
 
            </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>06</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What should I do if someone hurts me or makes me mad</h4>
                    </div>
                </div>
 
            </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>07</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What is correction</h4>
                    </div>
                </div>
 
            </div>
</div>
            <div id="show">SHOW ALL 8 LESSONS</div>
<div class="course2">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>08</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>Who is God</h4>
                    </div>
                </div>
 
            </div>
    
            <div id="show1">LESS</div>
        </div>
        <br>
    </div>
</div>
<div id="section3" class="container-fluid"> 
    <h3>Child</h3>
    <div class="row sec3">
        
        <div class="col-5 col-md-5 ">
            <img src="/assets/images/images1.png" width="100%">
        </div>
        <div class="col-2 col-md-2 sec3-middle">
            <img src="/assets/images/husband/image7.png" title="Life Bese">
        </div>
        <div class="col-5 col-md-5">
            <img src="/assets/images/images1.png" width="100%">
        </div>

    </div>
    <div class="container grid">
    <div class="row grid-image">
        <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br> come from</p>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Why Do I have parents</p>
            </div>
        </div>
        
    </div>


    <div id="panel">
         <div class="row grid-image">
        <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Why Should I listed<br> to my parents</p>
            </div>
        </div>
        
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>What should I<br> watch on TV</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Why is school<br> important</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>What should I do<br> if someone hurts<br> me or makes me mad</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>What is correction</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Who is God</p>
            </div>
        </div>
        
    </div>
    </div>
        <div id="flip">SHOW ALL 8 LESSONS</div><br><br>
    <div id="show2">LESS</div>
    <br><br>
    </div>
</div>
  
 
<div id="footer" class="container-fluid">
<div class="container">
    <div class="footer-contact">
    <img src="/assets/images/footer/logo2.png" alt="logo" title="Life Base">
    <p>99 99999 99 99</p>
    <ul>
        <li><a href=""> HOME&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="#section3"> ABOUT LIFE BASE&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> COURSES&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="#footer"> CONTACT US</a></li>



    </ul>
    </div>
</div>
</div>
<div id="footer1" class="container-fluid">
    <div class="container">
        <div class="row p">
            <div class="col-12 col-md-12 col-lg-6">
             <p>LIFE BASE©COPYRIGHT 2016</p>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
            <div class="social">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-envelope-o"></a>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content w">
            <div class="modal-body q">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                   <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade" id="login">
    <div class="modal-dialog">

      <div class="modal-content v">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h1>LOGIN</h1><br>
        <form>
  <div class="form-group">
     <a href="#" class="fb btn">
          <i class="fa fa-facebook-official"></i> <h3>Continue with Facebook</h3>
         </a>
    <div class="or">
    <h2><span>OR</span></h2>
</div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
</div>
  <div class="row">
   <div class="col-md-6 pass">
   <h3>Forgot your password?</h3>
   </div>
   <div class="col-md-6">
    <button type="submit" class="btn"><h5>LOG IN</h5></button>
   </div>
  </div>
 <hr style="background-color: #3b3b3b;margin-top: 51px;">
  <hr style="background-color: #3b3b3b;">
  <div class="account">
  <h4>Need an account? <span>Create an account.</span></h4>
   </div>
</form>
    
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="Checkout-Form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-pay">
      <div class="modal-body form1-text">
        <div class="row header1">
          <div class="col-md-9 col-10">
            <h5>All ACCESS PASS<br>
        <span>ANNUAL SUBSCRIPTION ($180 YAR)</span> </h5>
          </div>
          <div class="col-md-3 col-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
        </div>
         <hr style="background-color: #3b3b3b;margin-bottom: 0px;margin-top: 0px">
  <hr style="background-color: #3b3b3b;margin-top: 10px;">
     <div class="card-icon">
      <a href="#"><img src="/assets/images/visa.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/master.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/amex.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/card1.png"></a>&nbsp;
        </div>
    <hr style="background-color: #3b3b3b;">

        <div class="row">
        <div class="col-md-8 col-9">
         <label class="con">&nbsp;<img src="/assets/images/visa.png">&nbsp;&nbsp;&nbsp;&nbsp;XXXX 9565
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
          </label>
          </div>
          <div class="col-md-4 col-3 text-5">
          <p>4/5&nbsp;&nbsp;<span aria-hidden="true">&times;</span></p>
        </div>
        <div class="col-md-12 col-12">
            <hr style="background-color: #3b3b3b;margin-top: 0px;">
        </div>
        <div class="col-md-12 col-12">
         <label class="con">&nbsp;New card
         <input type="radio" name="radio">
        <span class="checkmark"></span>
        </label>
          <hr style="background-color: #3b3b3b;">
      </div>
      </div>
      <p class="text-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem</span> Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has<br></p>
      <div class="button1">
      <button id="customButton" type="button" class="btn">
          <h4>COMPLETE OREDER</h4>
      </button>
    </div>
      <div class="row">
    <div class="col-md-6 col-12 left-text">
       <a href="#"><i class="fa fa-lock">&nbsp;&nbsp;</i>Secure with SSL</a>
        </div>
         <div class="col-md-6 col-12 left-text">
      <a href="#">Satisfaction Guaranteed</a>
        </div>
    <div class="col-md-8 col-12">

<form>
  <div class="form-group fm">
 
    <input type="code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gift code">
  </div>
</form>
    </div>
    <div class="col-md-4 col-12 button2">
      <button type="button" class="btn btn-dark"><h4>APPLY</h4></button>
    </div>
  </div>
   <hr style="background-color: #3b3b3b;margin-bottom: 0px">
    <hr style="background-color: #3b3b3b;margin-top: 8px;">
     <div class="row">
          <div class="col-md-6 col-12 left-footer">
            <h2><span>100%</span><br>Guaranteed</h2 >
          
            <p>Lorem Ipsum is simply dummy <br>the printing and typesetting <br>Lorem Ipsum has been</p>
          </div>
          <div class="col-md-6 col-12 phone">
           <button type="button" class="btn"><h5><i class="fa fa-lock"></i> &nbsp;| &nbsp;Secure with SSL</h5></button>
            <p >Have a question?<br><span>1-999-999-9999</span></p>
            
          </div>
        </div>
      </div>
  </div>
</div>
</div>
  <div class="modal fade" id="register">
    <div class="modal-dialog">
      <div class="modal-content login">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>REGISTER</h1><br>

        <form>
  <div class="form-group">
     <hr style="background-color: #3b3b3b;">
     <div class="form-group">
    <input type="fn" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name">
  </div>

  <div class="form-group">
    <input type="ln" class="form-control" id="exampleInputPassword1" placeholder="Last name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email address">
  </div>
    </div>
  <div class="row">
   <div class="col-md-6">
    <button type="submit" class="btn"><h5>LOGIN</h5></button>
   </div>
  </div>
 <hr style="background-color: #3b3b3b;margin-top: 51px;">
  <hr style="background-color: #3b3b3b;">
  <div class="account">
  <h4>Need an account? <span>Create an account.</span></h4>
   </div>
</form>
    
        
      </div>
    </div>
  </div>

<div id="sq-ccbox">
    <!--
      You should replace the action attribute of the form with the path of
      the URL you want to POST the nonce to (for example, "/process-card")
    -->
    <form id="nonce-form" novalidate action="/process-card.php" method="post">
        Pay with a Credit Card
        <table>
            <tbody>
            <tr>
                <td>Card Number:</td>
                <td><div id="sq-card-number"></div></td>
            </tr>
            <tr>
                <td>CVV:</td>
                <td><div id="sq-cvv"></div></td>
            </tr>
            <tr>
                <td>Expiration Date: </td>
                <td><div id="sq-expiration-date"></div></td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td><div id="sq-postal-code"></div></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
                        Pay with card
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!--
          After a nonce is generated it will be assigned to this hidden input field.
        -->
        <input type="hidden" id="card-nonce" name="nonce">
    </form>
</div>