<nav class="navbar navbar-light navbar-expand-md bg-light">
    <div class="container">
    <a href="/" class="navbar-brand"><img src="/assets/images/navbar/logo.png"></a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">ABOUT LIFE BASE</a>
            </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         COURSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Child">Child</a>
          <a class="dropdown-item" routerLink="/Son">Son</a>
          <a class="dropdown-item" routerLink="/Husband">Husband</a>
          <a class="dropdown-item" routerLink="/Father">Father</a>
          
        </div>
      </li>
            <li class="nav-item">
                <a class="nav-link"  href="#footer" >CONTACT US</a> 
            </li>
           
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item">
                <a class="nav-link"  data-toggle="modal" data-target="#popUpWindow">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" style="background-color: #2a2a2a;color: #fff;border-color: #2a2a2a">REGISTER</a>
            </li>

        </ul>
    </div>
</div>
</nav>
<div id="section">
    <div class="container section-1">
      <div class="video">
      <a href="#"  data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/ACD8b7eB5OQ"><img src="/assets/images/child/1 pic/PLAY.png"></a></div>

            <h3>SON</h3>
            <p>DR. MOLINA GOES DEEPER INTO THE<br>
            PRINCIPLES OF SONSHIP</p>
            <div class="all-full">
            <a href="">All Full Course Access</a>
 </div>
</div>
</div>
<div id="section1" class="container-fluid">
    <div class="container">

        <div class="row sec1">
            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/son/image.png"><br>
                <div class="text">
                <h3>DISCOVER:</h3>
                <p>The truth about sonship and its ability to make <br> spiritually mature.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/son/image1.png"><br>
                <div class="text">
                <h3>UNDERSTAND: </h3>
                <p>What God says about Sons and place in his<br> kingdom.</p>
                </div>
            </div>

            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/son/image2.png"><br>
                <div class="text">
                <h3>WALK:</h3>
                <p>In the reality and posture of a true Son. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section2" class="container-fluid">
    <div class="container">
    <div class="layer">
    
    <div class="top-left">
        <h3>Dr. Joaquin G Molina</h3><br>
        <p>The bible teacher that God has always reserved the inheri-<br>
           tance for sons. In today's day and age,the concept of Son-<br>
           ship has been-at best,either grossly marginalized, or is just<br>
           non existent. In this course Dr. Molina goes deeper into<br>
           the principles of sonship and their lasting impact on a <br>
           Man's spiritual progression.
        </p>
    </div>
    </div>
    </div>
</div>

<div id="section4" class="container-fluid">
    <div class="container">
        <div class="course-all" >
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>01</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What does Family mean to me</h4>
                    </div>
                </div>
 </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>02</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What is a father</h4>
                    </div>
                </div>
 
            </div><div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>03</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>How do I determine what I should be when I grow up</h4>
                    </div>
                </div>
 
            </div>
               
               <div id="panel1">
               
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>04</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What does Family mean to me</h4>
                    </div>
                </div>
 
            </div>

            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>05</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What does Family mean to me</h4>
                    </div>
                </div>
 
            </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>06</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What does Family mean to me</h4>
                    </div>
                </div>
 
            </div>
            <div class="course1">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>07</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What does Family mean to me</h4>
                    </div>
                </div>
 
            </div>
</div>
<div class="course2">
    <div id="show">SHOW ALL 8 LESSONS</div>
                <div class="row">
                    <div class="col-2 col-md-2">
                        <h3>08</h3>
                    </div>
                    <div class="col-10 col-md-10">
                                    <h4>What is the purpose of my life</h4>
                    </div>
                </div>
 
            </div>
    
            <div id="show1">LESS</div>
        </div>
        <br>
    </div>
</div>
<div id="section3" class="container-fluid"> 
    <h3>Son</h3>
    <div class="row sec3">
        
        <div class="col-5 col-md-5 ">
            <img src="/assets/images/3/left.jpg" width="100%">
        </div>
        <div class="col-2 col-md-2 sec3-middle">
            <img src="/assets/images/husband/image7.png" title="Life Bese">
        </div>
        <div class="col-5 col-md-5">
            <img src="/assets/images/3/left.jpg" width="100%">
        </div>

    </div>
    <div class="container grid">
    <div class="row grid-image">
        <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
           <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Why do I have parents</p>
            </div>
        </div>
        
    </div>


    <div id="panel">
         <div class="row grid-image">
        <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
        
         <div class="col-12 col-md-6">
           <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
         <div class="col-12 col-md-6">
            <img src="/assets/images/husband/image9.jpg" width="100%" >
            <div class="grid-image-text">
                <img src="/assets/images/husband/image15.png">
                <p>Where do I<br>come from</p>
            </div>
        </div>
        
        
    </div>
    </div>
    <div id="flip">SHOW ALL 8 LESSONS</div>
    <br><br>
    <div id="show2">LESS</div>
    <br><br>
    </div>
</div>
  
  
  
<div id="footer" class="container-fluid">
<div class="container">
    <div class="footer-contact">
    <img src="/assets/images/footer/logo2.png" alt="logo" title="Life Base">
    <p>99 99999 99 99</p>
    <ul>
        <li><a href=""> HOME&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> ABOUT LIFE BASE&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> COURSES&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> CONTACT US</a></li>



    </ul>
    </div>
</div>
</div>
<div id="footer1" class="container-fluid">
    <div class="container">
        <div class="row p">
            <div class="col-12 col-md-12 col-lg-6">
             <p>LIFE BASE©COPYRIGHT 2016</p>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
            <div class="social">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-envelope-o"></a>
            </div>
            </div>
             <div class="col-md-4 col-12 model-pay">
       <br>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal2">
  ALL-ACCESS PASS
</button>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog w">
        <div class="modal-content">
            <div class="modal-body q">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog w">
        <div class="modal-content">
            <div class="modal-body q">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade " id="popUpWindow">
    <div class="modal-dialog ">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-content v">

        <h1>LOGIN</h1><br>
        <form>
  <div class="form-group">
     <a href="#" class="fb btn">
          <i class="fa fa-facebook-official"></i> <h3>Continue with Facebook</h3>
         </a>
    <div class="or">
    <h2><span>OR</span></h2>
</div>
<div class="form-group">
     <input type="fn" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name">
</div>
  <div class="form-group">
    <input type="ln" class="form-control" id="exampleInputPassword1" placeholder="Last name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email address">
  </div>
</div>
  <div class="row">
   <div class="col-md-6 pass">
   <h3>Forgot your password?</h3>
   </div>
   <div class="col-md-6">
    <button type="submit" class="btn"><h5>LOG IN</h5></button>
   </div>
  </div>
 <hr style="background-color: #3b3b3b;margin-top: 51px;">
  <hr style="background-color: #3b3b3b;">
  <div class="account">
  <h4>Need an account? <span>Create an account.</span></h4>
   </div>
</form>
    
        
      </div>
    </div>
  </div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-pay">
      <div class="modal-body form1-text">
        <div class="row header1">
          <div class="col-md-9 col-10">
            <h5>All ACCESS PASS<br>
        <span>ANNUAL SUBSCRIPTION ($180 YAR)</span> </h5>
          </div>
          <div class="col-md-3 col-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
        </div>
         <hr style="background-color: #3b3b3b;margin-bottom: 0px;margin-top: 0px">
  <hr style="background-color: #3b3b3b;margin-top: 10px;">
     <div class="card-icon">
      <a href="#"><img src="/assets/images/visa.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/master.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/amex.png"></a>&nbsp;&nbsp;
      <a href="#"><img src="/assets/images/card1.png"></a>&nbsp;
        </div>
    <hr style="background-color: #3b3b3b;">

        <div class="row">
        <div class="col-md-8 col-9">
         <label class="con">&nbsp;<img src="/assets/images/visa.png">&nbsp;&nbsp;&nbsp;&nbsp;XXXX 9565
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
          </label>
          </div>
          <div class="col-md-4 col-3 text-5">
          <p>4/5&nbsp;&nbsp;<span aria-hidden="true">&times;</span></p>
        </div>
        <div class="col-md-12 col-12">
            <hr style="background-color: #3b3b3b;margin-top: 0px;">
        </div>
        <div class="col-md-12 col-12">
         <label class="con">&nbsp;New card
         <input type="radio" name="radio">
        <span class="checkmark"></span>
        </label>
          <hr style="background-color: #3b3b3b;">
      </div>
      </div>
      <p class="text-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span>Lorem</span> Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has<br></p>
      <div class="button1">
      <button type="button" class="btn"><h4>COMPLETE OREDER</h4></button>
    </div>
      <div class="row">
    <div class="col-md-6 col-12 left-text">
       <a href="#"><i class="fa fa-lock">&nbsp;&nbsp;</i>Secure with SSL</a>
        </div>
         <div class="col-md-6 col-12 left-text">
      <a href="#">Satisfaction Guaranteed</a>
        </div>
    <div class="col-md-8 col-12">

<form>
  <div class="form-group fm">
 
    <input type="code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gift code">
  </div>
</form>
    </div>
    <div class="col-md-4 col-12 button2">
      <button type="button" class="btn btn-dark"><h4>APPLY</h4></button>
    </div>
  </div>
   <hr style="background-color: #3b3b3b;margin-bottom: 0px">
    <hr style="background-color: #3b3b3b;margin-top: 8px;">
     <div class="row">
          <div class="col-md-6 col-12 left-footer">
            <h2><span>100%</span><br>Guaranteed</h2 >
          
            <p>Lorem Ipsum is simply dummy <br>the printing and typesetting <br>Lorem Ipsum has been</p>
          </div>
          <div class="col-md-6 col-12 phone">
           <button type="button" class="btn"><h5><i class="fa fa-lock"></i> &nbsp;| &nbsp;Secure with SSL</h5></button>
            <p >Have a question?<br><span>1-999-999-9999</span></p>
            
          </div>
        </div>
      </div>
  </div>
</div>
</div>