<nav class="navbar navbar-light navbar-expand-md bg-light">
    <div class="container">
    <a href="/" class="navbar-brand"><img src="/assets/images/navbar/logo.png"></a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">ABOUT LIFE BASE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">COURSES</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#footer" >CONTACT US</a> 
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Child">Child</a>
          <a class="dropdown-item" routerLink="/Son">Son</a>
          <a class="dropdown-item" routerLink="/Husband">Husband</a>
          <a class="dropdown-item" routerLink="/Father">Father</a>
          
        </div>
      </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item">
                <a class="nav-link" href="">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" style="background-color: #2a2a2a;color: #fff;border-color: #2a2a2a">REGISTER</a>
            </li>

        </ul>
    </div>
</div>
</nav>

<div id="section1" class="container-fluid">
    <div class="container">
        <div class="sec1">
              <img src="/assets/images/1/logo1.png" title="Life Base">
              <h3>Patterns for Life</h3>
           
        </div>
    </div>
</div>
<div id="section2" class="container-fluid">
    <div class="container">
        <div class="sec2">
             <img src="/assets/images/2/logo.png">
             <h3>Principals <br><span>to live by...</span></h3>
        </div>
    </div>
</div> 
<div id="section3" class="container-fluid">
    <div class="text-sec3">
          <h3><span>Becoming</span> the</h3>
      </div>
    <div class="row sec3">
        
        <div class="col-5 col-md-5 ">
            <img src="/assets/images/3/left.jpg" style="width: 100%">
        </div>
        <div class="col-2 col-md-2 sec3-middle">
            <img src="/assets/images/3/logo.png" title="Life Bese">
        </div>
        <div class="col-5 col-md-5">
            <img src="/assets/images/3/left.jpg" style="width: 100%">
        </div>

    </div>
  
    <div class="row  layer-img">
        <div class="col-12 col-md-4">
            <img src="/assets/images/3/Layer-7.jpg" title="Prirest">
            <h4><b>Prirest</b><br>of your home</h4>
        </div>
        
        <div class="col-12 col-md-4">
            <img src="/assets/images/3/Layer-8.jpg" title="Prophet">
            <h4><b>Prophet</b><br>of your family</h4>
        </div>
        
        <div class="col-12 col-md-4">
            <img src="/assets/images/3/Layer-6.jpg" title="King">
            <h4><b>King</b><br>able to shoulder <br>responsiblity</h4>
        </div>
    </div>

</div>



<div class="flex-container">
  <div class="flex-one">
   <div class="flex-container-1">
    <div class="flex-one1">
        <div class="text-position">
        <img src="/assets/images/courses/image3.jpg">
        <div class="center">Chlid</div>
        </div>
    </div>
      <div class="flex-one1">
        <div class="text-position">
        <img src="/assets/images/courses/image2.jpg" height="100%">
        <div class="center">Son</div>
        </div>
    </div>
    <div class="flex-one1">
        <div class="text-position">
        <img src="/assets/images/courses/image3.jpg">
        <div class="center">Husband</div>
        </div>
    </div>
    <div class="flex-one1">
        <div class="text-position">
        <img src="/assets/images/courses/image4.jpg">
        <div class="center">Father</div>
        </div>

    </div>
   </div>
  </div>
  <div class="flex-one two" > 
       <div><img src="/assets/images/what is a man/logo.png" ></div>
       <div><h3>What is a Man</h3></div>
       <div> <h4>DEVELOPMENT COURSES</h4></div>
       <div> <p>Dr. Joaquin G Molina</p></div>
</div>

    



</div>    
<div id="footer" class="container-fluid">
<div class="container">
    <div class="footer-contact">
    <img src="/assets/images/footer/logo2.png" alt="logo" title="Life Base">
    <p>99 99999 99 99</p>
    <ul>
        <li><a href=""> HOME&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> ABOUT LIFE BASE&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> COURSES&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href=""> CONTACT US</a></li>



    </ul>
    </div>
</div>
</div>
<div id="footer1" class="container-fluid">
    <div class="container">
        <div class="row p">
            <div class="col-12 col-md-6">
             <p>LIFE BASE © COPYRIGHT 2016</p>
            </div>
            <div class="col-12 col-md-6">
            <div class="social">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-envelope-o"></a>
            </div>
            </div>
        </div>
    </div>
</div>

