@import url(https://fonts.googleapis.com/css?family=Avenir);
body,html{
 height: 100%;

}

.navbar-brand{
	margin-top: -13px;
}
.navbar-brand img{
	height: 100px;

}
 .text-center .nav-item .nav-link{
	color: #5e5e5e;
	font-family : "Avenir Black",sans-serif ;
	padding-left: 50px;
	font-weight: bold;
	opacity: 0.7;
	transition: 0.9s;


}
 .text-center .nav-item .nav-link:hover{
 	opacity: 1;
 	color: black;

 }
.flex-row .nav-item .nav-link{
	color: #000;
	border: 1.5px solid #7f7f7f;
	margin-left: 5px ; 
	font-family : "Avenir Black",sans-serif ;
	font-size: 14px;
	padding: 10px;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.9s;



}
.flex-row .nav-item .nav-link:hover{
	opacity: 1;
	transition: all 0.9s;
}


/*section1*/
#section1 {
	background-image: url("/assets/images/1/pic-BW.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;  

}
.sec1 {
	padding-top: 208px;
	padding-bottom: 300px;
}
.sec1 img{
	display: block;
	margin: auto;
	height:175px;
	opacity: 0.9;
    
}
.sec1 h3{
	color: #fff;
	font-size: 150px;
	padding-top: 60px;
	font-family: "AGramondPro Regular";
	text-align: center;

}
/*SECTION2*/
#section2{
	background-image: url("/assets/images/shine21.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2{
	padding-top: 200px;
}
.sec2 img{
	height:175px;
	display: block;
	margin: auto;
	opacity: 0.9;
}
.sec2 h3{
	color: #000;
	font-family: "AGramondPro Regular";
	text-align: center;
	padding-top: 36px;
	font-size: 150px;
	padding-bottom: 200px;
	
}
.sec2 h3 span{
	padding-left: 150px;
	
}
/*section3*/
#section3{
	background-color: #fff;
}

.text-sec3 h3{
	text-align: center;
	font-size: 99px;
	padding-top: 100px;
	padding-bottom: 43px;
	font-family: "Avenir",sans-serif;
	

}
.text-sec3 h3 span{	
    font-weight: bold;

}

#section3 h3 span{
    font-weight: bold;
}
.sec3 {
	padding-top: 43px;
}

.sec3 .sec3-middle img {
	display: block;
	margin: auto;
	height: 80px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: -25px;

}
.layer-img {
	margin-left: 100px;
	margin-right: 100px;
}
.layer-img img{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 74px;
}
.layer-img h4{
	padding-bottom: 150px;
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
	font-family: "Avenir",serif;
	padding-bottom: 150px;
}


/*footer*/
#footer{
	background-color: #202020;
	height: 100%;
}
.footer-contact img{
	height: 200px;
	opacity: 0.6;
	transition: all 0.8s;
	
}
.footer-contact img:hover{
opacity: 1;
}
.footer-contact p{
    font-family: "Myriad Pro Regular";
    font-size: 57px;
    padding-top: 174px;
    color: #565656;

}
.footer-contact ul{
	
	font-family: "Avenir Heavy",sans-serif;
	list-style-type: none;
	font-size: 20px;
	padding-bottom: 66px;
	padding-left: 0px;
	font-weight: bold;
	padding-top: 118px;

}
.footer-contact li{
	display: inline;
}
.footer-contact li a{
	color: #565656;
	text-decoration: none;
	opacity: 0.6;
	transition: 0.8s;
}
.footer-contact li a:hover{
	opacity: 1;
	color: white;
}



#footer1 {
	background-color: black;
	height: 100%;
	margin-top: -21px;
}
#footer1 .p{
	font-family: "Myriad Pro Regular",sans-serif;
	font-size: 15px;
	padding-top:73px;
	padding-bottom: 73px;
	color: #717171;
	text-align: left;
	letter-spacing: 2px;
}
.social{
	text-align: right;


}
#footer1 .fa{

  padding: 6px; 
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 25px; 
  opacity: 0.6;
  transition: 0.8s;
  margin-right: 10px;
}
#footer1 .fa:hover{
	opacity: 1;
	color: black;
	background-color: white;
}
#footer1 .fa-facebook {
	 
	color: black;
	background-color: #575757;



}
#footer1 .fa-twitter {
    font-size: 32px;
	color: #575757;
	
	background-color: #000;

}
#footer1 .fa-envelope-o {
	font-size: 32px;
	color: #575757;
	
	background-color: #000
}
#footer1 .fa-envelope-o:hover {
	color: white;
	opacity: 1;
	background-color: black;
}
#footer1 .fa-twitter:hover {
		color: white;
	opacity: 1;
	background-color: black
}
@media (max-width: 768px) {
	.modal-content .form1-text {
	padding-left:10px;
	padding-right:10px;
	padding-top: 20px;
}


.modal-dialog .login .fb{
	width: 100%;
}
.modal-dialog .login .fb  h3{
	text-align: center;
	font-family: "Avenir"sans-serif;
	font-size: 16px;
	padding-top: 8px;

}
.modal-dialog .login .fb .fa-facebook-official{
	font-size:30px;
	text-align: left;
	float: left;
}
	.modal-dialog .login{
	padding-left: 10px;
	padding-right: 10px;
}
.flex-container .flex-one {

  width: 100%;
  
}
 .text-center .nav-item .nav-link{

	padding-left: 0px;
	padding-top: 10px;
	margin-top: 10px;
	text-align: left;
	font-weight: bold;
	opacity: 0.7;
	transition: 0.9s;


}
.flex-row .nav-item .nav-link{
	margin-left: 6px ; 
	margin-top: 10px;
	padding: 10px;
	text-align: left;



}
.navbar-brand img{
	height: 70px;
}
.sec1{
	padding-top: 100px;
	padding-bottom: 100px;
}
 .sec1 h3{
	font-size: 50px;
}
.sec1 img{
	height: 100px;
}
.sec2{
	padding-top: 100px;
}
.sec2 h3{
	color: #000;
	font-family: "AGramondPro Regular";
	text-align: center;
	padding-top: 36px;
	font-size: 50px;
	padding-bottom: 100px;
}
.sec2 h3 span{
   padding-left: 20px;
}
.sec2 img {
	height: 100px;
}
#section3 h3{
	text-align: center;
	font-family: "Avenir";
	
	font-size:40px;
	padding-top: 100px;

}
.layer-img {
	margin-left: 10px;
	margin-right: 10px;
}
.layer-img img{
	width: 80%;
	padding-top: 20px;
	

}
.layer-img h4{
    	font-size: 20px;
	padding-bottom: 1px;
	padding-top: 15px;
	margin-bottom: 15px;

}

.text-img{
	position: absolute;
	left: 10px;
	top: 10px;

}

.sec3 .sec3-middle img {
	padding-left: 0px;
	padding-right: 0px;
	height: 40px;
	display: block;
	margin: auto;
}

/*foooter*/
.footer-contact p{

    font-size: 40px;
    text-align: center;
    padding-top: 80px;
   

}
.footer-contact ul{
	
	text-align: center;
	font-size: 8px;
	padding-top: 50px;


}
.social {
	text-align: center;
	padding-top: 10px;
}
#footer1 .p{
	text-align: center;
}

.footer-contact img{
	height: 120px;
	display: block;
	margin: auto;
	
}

.text-position .center a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;


}
.two {
	background-position: center;
}
.two .n img{
	padding-top: 20px;
	width: 15%;
}
.two .n h3{
     padding-top: 30px;
	font-size:7vw;
}
.two .n h4{
    padding-top: 20px;
	font-size: 4vw;
}
.two .n p{
	padding-top: 20px;
	font-size: 3vw;
}

}
/*end*/


.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
 

 
}

.flex-container .flex-one {

  width: 50%;
  
}

.flex-container .flex-one1  img {
	width:100%;
	cursor: pointer;
}
.flex-container-1{
	display: flex;
  flex-wrap: wrap;



}
.flex-container-1 .flex-one1 {

  width: 50%;
  opacity: 0.7;
  border: 1px solid white;
  transition: all 0.9s;

  
}
.flex-container-1 .flex-one1:hover {

 
  opacity: 1;
  transition: all 0.9s;

  
}

.two {
	background-image: url("/assets/images/what is a man/images1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 3.5vw;
     border-bottom: 1px solid white;

}

.two >div img {
	width: 20%;
}

.two > div h3{
  color: #fff;
  padding-top: 50px;
  font-family: "Avenir";
  font-size: 4.5vw;
  font-weight: bold;
}
.two > div h4{
	color: #fff;
	font-family: "Avenir",sans-serif;
	font-size: 1.9vw;
	padding-top: 18px;
}
.two div > p{
	color: #fff;
	font-family: "Avenir",sans-serif;
	font-size: 1.6vw;
	padding-top: 45px;
}
.text-position {
	position: relative;
	text-align: center;

}
.center a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 60px;
	font-family: "Avenir"sans-serif;
	cursor: pointer;
	text-decoration: none;
	


}


@media(min-width: 768px) and (max-width: 991px){
	.modal-dialog  .login{
	padding-left: 10px;
	padding-right: 10px;
}
.two {
		padding-top: 3%;
	}
	.two .n h3{
		padding-top: 4%;
	}

	 .text-center .nav-item .nav-link{
	color: #5e5e5e;
	font-family : "Avenir Black",sans-serif ;
	padding-left: 2px;
	text-align: left;
	font-weight: bold;
	opacity: 0.7;
	transition: 0.9s;
	font-size: 10px;

}
.flex-row .nav-item .nav-link{
	margin-left: 6px ; 
	padding: 10px;
	text-align: left;
	font-size: 10px;
}
.navbar-brand img{
	height: 80px;
}
.sec1 h3{
	font-size: 120px;
}
.sec1 img {
	height: 120px;
}
.sec2 h3{
	font-size: 90px;

}
.sec2 img {
	height: 120px;
}
#section3 h3{
	font-size: 60px;
}
.layer-img h4{
    	font-size: 18px;
	padding-bottom: 1px;
	padding-top: 15px;
	margin-bottom: 15px;

}
.footer-contact p{

    font-size: 40px;
    text-align: center;
   

}
.footer-contact ul{
	
	text-align: center;
	font-size: 15px;

}
.social {
	text-align: center;
	padding-top: 10px;
}
#footer1 .p{
	text-align: center;
	font-size: 20px;
}

.footer-contact img{
	height: 150px;
	display: block;
	margin: auto;
	
}

.text-position .center a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;


}

}
@media(min-width: 991px) and (max-width: 1200px){
	.two {
		padding-top: 3%;
	}
 .text-center .nav-item .nav-link{
	color: #5e5e5e;
	font-family : "Avenir Black",sans-serif ;
	padding-left: 5px;
	text-align: left;
	font-weight: bold;
	opacity: 0.7;
	transition: 0.9s;
	font-size: 12px;
	

}
.flex-row .nav-item .nav-link{
	margin-left: 6px ; 
	padding: 10px;
	text-align: left;

}
.sec1 h3{
	font-size: 120px;
}
.sec2 h3{
	font-size: 120px;
}
#section3 h3{
	font-size: 80px;
}
.footer-contact img{
	height: 150px;
	
	
}

.footer-contact p{

    font-size: 50px;
   
   

}
.layer-img h4{
    	font-size: 30px;
	padding-bottom: 50px;
	padding-top: 15px;
	

}
}

.login {
	background-color: #1f1f1f;
	padding-top: 74px;
	padding-right: 30px;
	padding-left: 30px;

}
.login h1{
  font-family: "Avenir",sans-serif;
  font-size: 37px;
  color: white;
  text-align: center;
}
input[type=email], input[type=password],input[type=ln],input[type=fn] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: black;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.9s;
}
input[type=email]:hover, input[type=password]:hover, input[type=fn]:hover,input[type=ln]:hover {
	opacity: 1;
	transition: all 0.9s;
}
::placeholder {
	text-align: center;
	font-family: "Avenir",sans-serif;
	font-size: 20px;
	color: #403f3f;

}
.pass h3{
	font-family: "Avenir",sans-serif;
	font-size: 21px;
	color: #868686;
	vertical-align: middle;
	cursor: pointer;
}


.btn h5{
	font-family: "Avenir",sans-serif;
	font-size: 18px;
	color: #403f3f;
	font-weight: bold;
    cursor: pointer;
    padding-top: 10px;


}
.account h4{
	padding-top: 66px;
	padding-bottom: 66px;
	text-align: center;
	font-size: 21px;
	font-family: "Avenir",sans-serif;
	color: #8d8d8d;
	cursor: pointer;

}
.account h4 span{
 color: white	}
 .or h2 { 
 	width:100%;
  text-align:center;

   line-height:1px;
    margin:10px 0 20px;
    background-color: #3b3b3b; } 

.or h2 span { 
	background:#1f1f1f;
 padding:0 10px;
 color: #7a7a7a;
 font-family: "Avenir",sans-serif; }

 input,
 .btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
 .fb {
  background-color: #3B5998;
  color: white;
  margin-bottom: 61px;
  border-radius: 5px;
}
.fb  h3{
	text-align: center;
	font-family: "Avenir"sans-serif;
	font-size: 20px;
	padding-top: 8px;

}
.fb .fa-facebook-official{
	font-size:32px;
	text-align: left;
	float: left;
	padding-top: 5px;

}
.fb .fa-facebook-official:hover{
    
	opacity: 1;
	color: white;
	background-color:blue;

}
.q .close {
  position:absolute;
  right:-50px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
.dropdown {
	position: relative;
	display: inline;
}
.dropdown-menu {
	 display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}
..dropdown-menu a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 0.7;
    transition: 0.9s;
}
.dropdown-menu a:hover 
{background-color: #ddd;
color: black;
opacity: 1;
transition: 0.9s;}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.modal-dialog .close span{
	color: white;
	cursor: pointer;
	

	

}


.left-footer h2{
	font-size: 18px;
	text-align: center;
	font-family: "Avenir",sans-serif;
	color: white;
}
.left-footer h2 span{
	font-size:30px;
	font-weight: bold;
	color: white;

}

.left-footer p{
	
	text-align: center;
	font-size: 13px;
	font-family: "Avenir",sans-serif;
	color: #5e5e5e;
}
/*tabs*/
.icon-container {
  margin-bottom: 5px;
  padding-left: 40px;
  padding-right:40px;
  font-size: 20px;
}
.icon-container i{
	padding-left: 10px;
}
.icon-container .fa-cc-visa{
	color:navy;
}
.text-5{
	margin-top: -4px;
}
.text-5 p{
	font-size: 18px;
	font-family: "Avenir",sans-serif;
	text-align: right;
	color: #0a7da9;

}
.text-5 span{
 cursor: pointer;
 font-size: 22px;
 color: #5e5e5e;
}
.text-6 {
	font-family: "Avenir",sans-serif;
	font-size: 12px;
	text-align: justify;
	color: #4d4d4d;
	font-weight: bold;
}
.fm {

	margin-top: 10px;
}
.fm input[type=code]{
    background-color: transparent;
    border:1px solid #5e5e5e;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.9s;
    padding-top: 8px;
    padding-bottom: 10px;
    width: 100%;




}
.fm input[type=code]::placeholder{
	text-align: left;
	font-family: "Avenir",sans-serif;
	color: #5e5e5e;
	font-size: 15px;
}
.left-text a {
	padding-left: 10px;
	padding-top: 10px;
	font-family: "Avenir",sans-serif;
	font-size: 10px;
	color: #5e5e5e;
	text-decoration: none;
	font-weight: bold;

}
.phone p {
	padding-top: 25px;
	text-align: center;
	font-size: 13px;
	font-family: "Avenir",sans-serif;
	color: #5e5e5e;



}
.phone p span{
	font-size: 20px;
}
.phone {
margin-top: 10px;


}
.con img{
	height: 22px;
	margin-top: -5px;
	text-decoration: none;

}
.con{
    display: block;
    position: relative;
    padding-left: 35px;

    cursor: pointer;
    font-size: 18px;
    font-family: "Avenir",sans-serif;
    color: #5e5e5e;
  
}


/* Hide the browser's default radio button */
.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color:transparent;
    border: 1px solid #5e5e5e;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: transparent;
    border:1px solid #5e5e5e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}
.con .checkmark:after {
 	top:6px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
}
.phone .btn {
	background-color: transparent;
	border: 1px solid #5e5e5e;
	width: 100%;
	
}
.phone .btn h5 {
	color: #5e5e5e;
	font-family: "Avenir",sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	padding-bottom: 5px;

}
.model-pay .btn {
	width: 60%;
	background-color: red;
	color: white;
	font-family: "Avenir",sans-serif;
	font-size: 15px;
}
@media only screen and (max-width: 768px) {
    .flex-container .flex-one {

  width: 100%;
  
}

}
.form1-text {
	padding-left:50px;
	padding-right:50px;
	padding-top: 20px;
}
.form-pay {
	background-color: #202020;
}
.header1 h5 {
	color: white;
	font-family: "Avenir",sans-serif;
	font-size: 15px;
}
.header1 h5 span{
	color: #5e5e5e;
}
.button1 .btn {
	background-color: red;
	opacity: 0.9;
}
.button1 .btn:hover {
	opacity: 1;
}
.button1 .btn h4 {
	font-size: 18px;
	padding-top: 5px;
	color: white;
	font-family: "Avenir",sans-serif;
}
.button2 {
	margin-top: 10px;
}

.button2 .btn h4 {
	font-size: 14px;
	padding-top: 10px;
	color: #9e9e9e;
	font-family: "Avenir",sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
.text-6 span{
	color: white;
	text-decoration: underline;
}

.card-icon a img {
  height: 20px;
  text-decoration: none;
}
