<nav class="navbar navbar-light navbar-expand-md bg-light ">
    <div class="container">
    <a href="/" class="navbar-brand"><img src="/assets/images/navbar/logo.png"></a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT LIFE BASE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">COURSES</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item">
                <a class="nav-link" href="">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">REGISTER</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<div id="section">
    <div class="container">
        <div class="courses">
        <img src="/assets/images/1 pic/Screen-Shot-2018-05-15-at-11.27.jpg" width="100%">
        <div class="text1">
            <img src="/assets/images/1 pic/PLAY.png">
            <h3>CHILD</h3>
            <p>DR. MOLINA GOES DEEPER INTO THE<br>
            PRINCIPLES OF CHILDSHIP</p>
            <a href="">All Full Course Access</a>
        </div>
        </div>

    </div>
    
</div>
<div id="section1" class="container-fluid">
    <div class="container">

        <div class="row sec1">
            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/lesons/1/Vector-Smart-Object.png"><br>
                <div class="text">
                <h3>LEARN:</h3>
                <p>Lean the answers to why God made you <br>discover your purpose</p>
                </div>
            </div>
            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/lesons/1/Vector-Smart-Object1.png"><br>
                <div class="text">
                <h3>HEAR:</h3>
                <p>From Dr. Joaquin Molina as he exlores <br>childood and its lasting impact on manhood.</p>
                </div>
            </div>

            <div class="col-12 col-md-4 images-icon">
                <img src="/assets/images/lesons/1/Vector-Smart-Object2.png"><br>
                <div class="text">
                <h3>EXPERIENCE:</h3>
                <p>Time tested truths and how Dr. Molina navigated<br>the waters of his own childhood and how he<br>impacted his children during theirs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section2">
    <div class="container">
    <div class="layer">
    <img src="/assets/images/about/Layer-121.jpg" alt="Norway" style="width:100%;">
    <div class="top-left">
        <h3>Dr. Joaquin G Molina</h3><br>
        <p>The bible teacher that God has always reserved the inheri-<br>
           tance for sons. In today's day and age,the concept of Son-<br>
           ship has been-at best,either grossly marginalized, or is just<br>
           non existent. In this course Dr. Molina goes deeper into<br>
           the principles of sonship and their lasting impact on a <br>
           Man's spiritual progression.
        </p>
    </div>
    </div>
    </div>
</div>